<%- include('../partials/header') %>

<h2>Enter a new flight</h2>
<form action="/flights" method="POST">
    <%- include('../partials/airline-selection') %>
    <%- include('../partials/airport-selection') %>
    <label class="form-label">Flight Number:
        <input type="number" name="flightNo" class="form-control" min="10" max="9999">
    </label><br>
    <label class="form-label">Departs:
        <input type="datetime-local" name="departs" class="form-control" value="<%= departsDate %>">
    </label><br>

    <button type="submit" class="btn btn-primary">Add Flight</button>
</form>

<%- include('../partials/footer') %>